<section class="flex h-13 w-90 mx-auto">
    <ul class="flex gap-4 first:ml-4 max-w-full mr-1 overflow-x-scroll overflow-y-hidden relative">
        <li class="shrink-0">
            <img src="/assets/avatares/avatar1.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar2.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar3.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar4.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar5.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar6.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar7.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar8.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar8.svg" class="w-12">
        </li>
        <li class="shrink-0">
            <img src="/assets/avatares/avatar8.svg" class="w-12">
        </li>
    </ul>
    <button class="mr-4 h-full"><img src="/assets/more.svg" class="h-10"></button>
</section>