<div class="bg-black opacity-40 fixed top-0 left-0 w-screen h-screen"></div>

<section
    class="bg-white w-2/3 fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col gap-2 px-4 rounded-lg md:sr-only">
    <input type="text" class="px-2 w-full border-1 mt-6 mx-auto border-gray-300 placeholder:text-gray-400 focus:outline-none"
        placeholder="Buscar amigo...">
        <p class="text-red-400 ml-2">Usuario no encontrado</p>
    <div class="buttons flex place-content-center w-full gap-4 mt-2 mb-4">
        <button class="bg-bttn text-white px-5 w-2/5 rounded-lg inset-shadow-sm inset-shadow-gray-500 cursor-pointer hover:opacity-70">Añadir</button>
        <button class="text-red-400 px-5 cursor-pointer hover:text-red-500" (click)="closeModal()">Cancelar</button>
    </div>
</section>