<section class="flex flex-col w-85 h-full mx-auto md:w-full xl:ml-4">
    <header class="user h-10 bg-bttn-300 md:sr-only mt-1 p-1">
        <h3 class="ml-4 text-xl">Martin Lopez</h3>
    </header>
    <main class="chat h-full overflow-y-auto pt-2 pb-6">
        <ul class="flex flex-col">
            <li class="max-w-70">
                <p class="from text-gray-400 ml-1">Martin</p>
                <p class="bg-gray-300 rounded-xl px-3 py-2">Hola Pedro, como estás?</p>
            </li>
            <li class="w-auto max-w-70 self-end mt-2">
                <p class="from text-gray-400 w-full text-right">Tú</p>
                <p class="bg-bttn-200 rounded-xl px-3 py-2">Hola Martin, bien y vos?</p>
            </li>
            <li class="w-auto max-w-70">
                <p class="from text-gray-400 ml-1">Martin</p>
                <p class="bg-gray-300 rounded-xl px-3 py-2">Hola Pedro, como estás?</p>
            </li>
        </ul>
    </main>
    <footer class="input-box flex place-content-around bg-white w-full h-10 mb-5 border-1 border-bttn rounded-full px-4">
        <input type="text" placeholder="Escribe tu mensaje..." class=" w-full h-full">
        <img src="/assets/send-button.svg" class="w-6">
    </footer>
</section>